ion-content.background{
    --ion-background-color: var( --ion-color-ibus-theblue);
  }
.timeIcon{
    width: 160px;
    height: 50px;
}
.ion-text-center{
    display: flex;
    justify-content: center;
    width: 100vw;
}
.dmpIconStyle{
    color: white;  
}
.startTimeBtn{
    width:210px;
    height:57px;
    border-radius: 27px;
    background-color:var(--ion-color-ibus-lightgreen);  
    font-size:15px;
    font-family:monteBold;
    color:white;
}
.endTimeBtn{
    width:210px;
    height:57px;
    border-radius: 27px;
    background-color:var(--ion-color-danger); 
    font-size:15px;
    font-family:monteBold;
    color: white;
}
.timeBtn{
    width:210px;
    height:57px;
    border-radius: 27px;
    background-color: white;
    font-size:15px;
    font-family:monteBold;
    color:var(--ion-color-ibus-darkblue);
}
ion-item{
    position: relative;
    top: 30px;
    left: -25px;
}



	.addBtn {
        justify-content: center;
        display: flex;
        text-align: center;
        margin-bottom: env(safe-area-inset-bottom); /* fix notch ios*/
        button {
            --box-shadow: none;
            background-color:white;
            border-radius: 70px;
            width: 60px;
            height: 60px;
            position: relative;
            top: -9px;
            color:white;
            font-family:monteSBold;
            font-size:11px;
            margin-top:40px;
        }
        ion-icon{
            color:var(--ion-color-ibus-darkblue);
            width:30px;
            height:30px;
            stroke: 5px;
        }
        ion-badge{
        --background: transparent;
         }
    }

ion-label{
    margin-top: 15px;
}
.md ion-title{
    color: white;
    font-size: 30px;
    margin-top: 47px;
    margin-bottom: 40px;
    font-family: monteBold;
}
.ios ion-title{
    color: white;
    font-size: 19px;
    position: absolute;
    top:-300px;
    font-family: monteBold;
}
.ios .theList{
    position: relative;
    top: 200px;
}

@media only screen and (max-width: 375px) {
    .ios ion-title{
        color: white;
        font-size: 15px;
        position: absolute;
        top:-280px;
        font-family: monteBold;
    }
    .ios .theList{
        position: relative;
        top: 70px;
    }
  }