<ion-content padding class="background">
  <ion-title class="ion-text-center">{{'routedetails-details.title' | translate}}</ion-title>

   <ion-label class="ion-text-center timeItem" lines="none">
      <button class="startTimeBtn">{{thisIsMyStartingPoint}}</button> <!-- {{'routedetails-start.title' | translate}}-->
    </ion-label>
  <ion-list class="theList">
  	  
    <ion-label class="ion-text-center timeItem" lines="none" *ngFor="let pickup of toMyNewArray">
      <button class="timeBtn">{{pickup.PICKUP_ADDRESS}}</button>
    </ion-label>

  </ion-list>
   <ion-label class="ion-text-center timeItem" lines="none">
      <button class="endTimeBtn">{{thisIsmyLastPoint}}</button> <!--{{'routedetails-end.title' | translate}}-->
    </ion-label>

  <ion-buttons class="addBtn" (click)="navigateToMyroutePage()" vertical="bottom" horizontal="center" translucent="true">
    <button (click)="navigateToMyroutePage()" class="adBtn2">
      <ion-icon name="arrow-back"></ion-icon>
    </button>
  </ion-buttons>
</ion-content>
