
  
<!-- 
  <ion-fab vertical="bottom" horizontal="center" translucent="true">
    <ion-fab-button>
      <ion-icon (click)="navigateToLoginPage()" name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
   -->