
<ion-content clas="pagebeforelogin">
<div class="welcomeText">
<ion-label>Welcome To</ion-label>
</div>

  <div class="imgDiv"><img class="insideLogoImage" src="assets/logo/ibuswhite.png" /></div>
  <button (click)="loginAction()" class="loginBtn"><img  src="assets/logo/login.png" /></button>
  <button class="registerBtn"(click)="registerAction()"><img  src="assets/logo/register.png" /></button>
 

</ion-content>
