.registration-page{
    position:relative;
    top:55px;
    z-index:200;
}

.back-btn{
    position: relative;
    bottom: 30px;
    left:20px;
    width:50px;
    height: 50px;
}
.arrow-back{
    position: relative;
    left: 10px;
    top: -6px;
}
.toolbar-title{
    font-size:16px;
    font-family:monteBold;
    color:var(--ion-color-ibus-blue);   
    position:relative;
    bottom:2px;
}
// img{
//     position: relative;
//     left: 35px;
//     margin-top: 71px;
//     top: 56px;
// }
.registration-completed-desc{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: -57px;
    margin-bottom: 72px;
}
.email-verification-desc{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family:monteRegular;
    font-size:26px;
    color:var(--ion-color-ibus-darkblue);
    margin-top: 60px;
    top: -5px;
    position: relative;
    margin-bottom: 49px;
}
.reg-title1{
    font-family: monteBold;
    font-size: 26px;
    color: var(--ion-color-ibus-darkblue);
    position: relative;
    top: 65px;
}
.reg-title2{
    font-family: monteBold;
    font-size: 28px;
    color: var(--ion-color-ibus-lightgreen);
    position: relative;
    top: 65px;
}
.steps-desc{
    position:relative;
    top:55px;
}
.step-1{
    position:relative;
    left:30px;
    font-size:11px;
    font-family:monteBold;
    color:var(--ion-color-ibus-darkblue);
}
.step-2{
    position:relative;
    left:70px;
    font-size:11px;
    font-family:monteBold;
    color:var(--ion-color-ibus-darkblue);
}
.step-3{
    position:relative;
    left:120px;
    font-size:11px;
    font-family:monteBold;
    color:var(--ion-color-ibus-darkblue);
}
.btn-send{
    height: 60px;
    height:18;
    text-align:center;
    color:white;
    font-family: monteBold;
    font-size:13px;
    border-radius: 21px;
    background-image: linear-gradient(180deg, #4E98FF 90%,#4E98FF 10%);
    margin-top:7%;
}

#form {
    margin-top:5px;
    padding-left:30px;
    padding-right:30px;
}

@media only screen and (max-width: 428px) {
 
    .steps-desc{
        position:relative;
        top:10px;
        left:7px;
    }
}
@media only screen and (max-width: 414px) {
 
    .steps-desc{
        position:relative;
        top:10px;
        left:0px;
    }
}
@media only screen and (max-width: 375px) {
    .steps-desc{
        display:none;
    }
    .toolbar-title{
        font-size: 14px;
        font-family: monteBold;
        color: var(--ion-color-ibus-blue);
        position: relative;
        top:-2px;
    }
}
@media only screen and (max-width: 320px) {
    .steps-desc{
        display:none;
    }
    .toolbar-title{
        font-size: 12px;
        font-family: monteBold;
        color: var(--ion-color-ibus-blue);
        position: relative;
        top:-5px;
    }
}