<ion-header>
  <ion-toolbar>
    <ion-title>test-api</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button style="width:100%;" (click)="nativeRequest()">Http Client Call Test Api 1</ion-button>
  <ion-label style="width:100%">{{response2}}</ion-label>
  <ion-label style="width:100%;color:green;"><b>  <br>For (i) Times: {{times}},<br> How many 500: {{count}},<br> Error: {{requestStatus}} <br></b></ion-label>
</ion-content>
