<ion-content padding class="background">
  <ion-title>Select Language</ion-title>
  <div class="style-center">
    <button (click)="selectgr()" class="btnStyling">
      <img src="assets/images/flags/greek_flag.svg" alt="eng">
    </button>
    <button (click)="selecten()" class="btnStyling">
      <img src="assets/images/flags/english_flag.svg" alt="ελ">
    </button>
  </div>
</ion-content>