.loginpage{
    position: relative;
    top: 187px;
    z-index: 200;
}
.back-btn{
    position: relative;
    bottom: 30px;
    left:20px;
    width:50px;
    height: 50px;
}
.arrow-back{
    position: relative;
    left: 10px;
    top: -8px;
}
.toolbar-title{
    font-size: 21px;
    font-family: monteBold;
    color: var(--ion-color-ibus-blue);
    position: relative;
    bottom: 0px;
}
.registernow{
    font-size: 13px;
    border:none;
    background-color:transparent;
    font-family:monteMedium;
    color: var(--ion-color-ibus-darkblue);
    position: relative;
    top: 12px;
    left: 25px;
}
.forgot-password{
    font-size: 13px;
    border:none;
    background-color:transparent;
    font-family:monteBold;
    color: var(--ion-color-ibus-darkblue);
    position: relative;
    top: 12px;
    left: 50px;
}
#form {
    margin-top:5px;
    padding-left:30px;
    padding-right:30px;
    background-color:white;
    position: relative;
    top:6px;
}
ion-icon{
    margin-top: 3%;
    position: absolute;
    right: 29px;
    z-index: 2000;
    color:var(--ion-color-ibus-blue);
}

ion-input{
    height: 48px;
    font-size:15px;
    color:var(--ion-color-ibus-darkblue);
    font-family:monteMedium;
    height: 60px;
    margin-top:5%;
    border-radius:21px;
    position:relative;
    border:2px solid var(--ion-color-ibus-blue);
    text-align: center;
    
}

.btn-login{
    height: 60px;
    height:18;
    text-align:center;
    color:white;
    font-family: monteBold;
    font-size:13px;
    border-radius: 21px;
    background-image: linear-gradient(180deg, #4E98FF 90%,#4E98FF 10%);
    margin-top:7%;
}
.login-desc{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: monteMedium;
    font-size: 17px;
    color: var(--ion-color-ibus-blue);
    position: relative;
    top: 9px;
}
.profileimg{
    top: 50px;
    position: relative;
}