<ion-content>
  <div class="loginpage">
  <ion-toolbar color="blue">
  
  </ion-toolbar>

  <div class="center profile-img">
    <div class="profile-img">
  
    </div>
    <div class="login-desc">
      <a>{{'LOGIN-DETAILS.title' | translate}} </a>
       <a>{{'LOGIN-ACCESS.title' | translate}}</a>
    </div>
  </div>

 
  <form id="form">
    <ion-list>
      <ion-item lines='none'>
        <ion-input  name="phone"  type="text" [(ngModel)]="mobile" placeholder="{{'LOGIN-PHONE.title' | translate}}" required>
        </ion-input>  <ion-icon slot="end" name="call" ios="call"></ion-icon>
      </ion-item>

      <ion-item lines="none">
        <ion-input  type="password" name="password" [(ngModel)]="pass" placeholder="{{'LOGIN-PASSWORD.title' | translate}}" requred></ion-input>
        <ion-icon (click)="saveTodos()" slot="end" name="eye"></ion-icon>
      </ion-item>
      <ion-button class="btn-login"  (click)="getLoginFromEveryPlatform()" expand="block" shape="round" >{{'LOGIN.title' | translate}}</ion-button>
      <ion-item class="forgot-password" (click)="forgot()" lines='none'>
       {{'LOGIN-FORGOT.title' | translate}} 
      </ion-item>

      <ion-item class="registernow" lines='none'>
        {{'LOGIN-ACCOUNT.title' | translate}}<a (click)="register()">{{'LOGIN-REGISTER.title' | translate}}</a>
      </ion-item>

    </ion-list>
  </form>
</div>
</ion-content>
