.header{
    background-color:var(--ion-color-ibus-blue);
}
.ios ion-toolbar{
    --background: #4E98FF;
    height: 127px;
}
.md ion-toolbar{
    --background: #4E98FF;
    height: 87px;
}

.bottomBar{
	.addBtn {
        justify-content: center;
        display: flex;
        text-align: center;
        margin-bottom: env(safe-area-inset-bottom); /* fix notch ios*/
        button {
            --box-shadow: none;
            background-color: var(--ion-color-ibus-theblue);
            border-radius: 70px;
            width: 60px;
            height: 60px;
            position: relative;
            top: -9px;
            color:white;
            font-family:monteSBold;
            font-size:11px;
        }
        ion-icon{
            color:white;
            width:30px;
            height:30px;
            stroke: 5px;
        }
        ion-badge{
        --background: transparent;
         }
    }
	ion-tab-bar {
		--border: 0;
		--background: transparent;
		position: absolute;
		bottom: 0;
		left:0; right: 0;
		width: 100%;
		&:after{
			content: " ";
			width: 100%;
			bottom: 0;
			background: var(--ion-color-light);
			height: env(safe-area-inset-bottom);
			position: absolute;
		}
		ion-tab-button {
			--background: var(--ion-color-light);
		}
		ion-tab-button.comments {
			margin-right: 0px;
			border-top-right-radius: 18px;
		}
		ion-tab-button.notifs {
			margin-left: 0px;
			border-top-left-radius: 18px;
		}
		svg {    
			width: 72px;
			margin-top: 19px;
			path{
				fill:  var(--ion-color-light);
			}		
		}
	}
}
.ios #profile{
    width: 60px;
    height: 60px;
    background-color: white;
    border-radius: 50%;
    position: relative;
    left: 27px;
    margin-bottom: 31px;
    background-image: url(../../assets/images/profile.jpg);
    background-size: 60px 80px;
}
.ios ion-title{
    position: absolute;
    top: -15px;
    left: -30px;
    color: white;
    font-size: 21px;
}
.md #profile{
    width: 60px;
    height: 60px;
    background-color: white;
    border-radius: 50%;
    position: relative;
    left: 27px;
    margin-top: 14px;
    background-image: url(../../assets/images/profile.jpg);
    background-size: 60px 80px;
}
.ios .nav-buttons{
    margin-bottom: 30px;
}
.md ion-title{
    position: absolute;
    top: 30px;
    left: 80px;
    color: white;
    font-size: 21px;
}
.md .nav-buttons{
    margin-bottom: -15px;
}
.notBtn{
    color: white;
    width: 47px;
    height: 62px;
}
.menuBtn{
    font-size: 100px;
    width: 70px;
    color: white;
}
.menuTxt{
    font-size:18px;
    font-family:monteRegular;
    color:var(--ion-color-ibus-darkblue);
}
.iconStyling{
    color:var(--ion-color-ibus-darkblue);
}
.menuToolbar{
    position: relative;
    margin-top: 80px;
    font-size: 25px;
}

.maintBtn{
    width:300px;
    height: 70px;
    border-radius:23px;
    background-color:var(--ion-color-ibus-theblue);
    font-family:monteSBold;
    font-size:18px;
    color: white;
    padding: 21px;
    width: 90%;
    left: 5%;
    color:white;
    margin-top: 10%;
}
.sendBtn{
    width:300px;
    height: 70px;
    border-radius:23px;
    background-color:white;
    font-family:monteSBold;
    font-size:18px;
    color: var(--ion-color-ibus-darkblue);
    padding: 21px;
    width: 90%;
    left: 5%;
    margin-top: 10%;
    position: absolute;
    top: 470px;
}
.returnBtn{
    height: 70px;
    border-radius: 63px;
    background-color: var(--ion-color-ibus-darkblue);
    font-family: monteSBold;
    font-size: 18px;
    color: white;
    padding: 21px;
    width: 70px;
    left: 41%;
    margin-top: 10%;
    position: absolute;
    top: 550px;
}
.closeBtn{
    position: relative;
    top: -90px;
    left: 360px;
}
.popUp{
    background-color: var(--ion-color-ibus-theblue);
    height: 100vh;
    width: 100vw;
    position: relative;
    color: white;
    font-size: 25px;
    z-index: 9999;
}
ion-input{
    background-color: white;
    color: var(--ion-color-ibus-darkblue);
    border-radius: 21px;
    width: 80%;
    margin-top:5%;
    text-align: center;
}
.classLabel{
    font-size: 20px;
    font-family: monteRegular;
}
.centerItems{
    display:flex;
    width:100%;
    justify-content: center;
}
.pTitle{
    position: relative;
    top: -30px;
    font-family: monteSBold;
}

#hidenItem{
    margin-top:30%;
}


@media only screen and (max-width: 414px) {
    ion-toolbar{
        --background: #4E98FF;
        height: 127px;
    }
  }
  @media only screen and (max-width: 320px) {
    ion-toolbar{
        --background: #4E98FF;
        height: 70px;
    }
  }

  @media only screen and (max-width: 375px) {
    .ios ion-toolbar{
        --background: #4E98FF;
        height: 95px;
    }
    .ios ion-title{
        position: absolute;
        top: -15px;
        left: -15px;
        color: white;
        font-size: 21px;
    }
  }
  @media only screen and (max-width: 320px) {
   

  }