.header{
    background-color:var(--ion-color-ibus-blue);
}
.ios ion-toolbar{
    --background: #4E98FF;
    height: 127px;
}
.md ion-toolbar{
    --background:#4E98FF;
    height:87px;
}
.notBtn{
    color: white;
    width: 47px;
    height: 62px;
}
.menuBtn{
    font-size: 100px;
    width: 70px;
    color: white;
}
.menuTxt{
    font-size:18px;
    font-family:monteRegular;
    color:var(--ion-color-ibus-darkblue);
}
.iconStyling{
    color:var(--ion-color-ibus-darkblue);
}
.menuToolbar{
    position: relative;
    margin-top: 80px;
    font-size: 25px;
}
.ios #profile{
    width: 60px;
    height: 60px;
    background-color: white;
    border-radius: 50%;
    position: relative;
    left: 27px;
    margin-bottom: 31px;
    background-image: url(../../assets/images/profile.jpg);
    background-size: 60px 80px;
}
.ios ion-title{
    position: absolute;
    top: -15px;
    left: -30px;
    color: white;
    font-size: 21px;
}
.md #profile{
    width: 60px;
    height: 60px;
    background-color: white;
    border-radius: 50%;
    position: relative;
    left: 27px;
    margin-top: 14px;
    background-image: url(../../assets/images/profile.jpg);
    background-size: 60px 80px;
}
.ios .nav-buttons{
    margin-bottom: 30px;
}
.md ion-title{
    position: absolute;
    top: 30px;
    left: 80px;
    color: white;
    font-size: 21px;
}
.md .nav-buttons{
    margin-bottom: -15px;
}

.myiontab{
	ion-fab {
		margin-bottom: env(safe-area-inset-bottom); /* fix notch ios*/
		ion-fab-button {
			--box-shadow: none;
			z-index: 1;
		}
	}
	ion-tab-bar {
        .addBtn {
            justify-content: center;
            display: flex;
            text-align: center;
            margin-bottom: env(safe-area-inset-bottom); /* fix notch ios*/
            button {
                --box-shadow: none;
                background-color: var(--ion-color-ibus-theblue);
                border-radius: 70px;
                width: 51px;
                height: 51px;
                position: absolute;
                left: 181px;
                top: -32px;
                color:white;
                font-family:monteSBold;
                font-size:11px;
            }
            ion-icon{
                color:white;
                width:30px;
                height:30px;
                stroke: 5px;
            }
            ion-badge{
            --background: transparent;
             }
        }
		--border: 0;
		--background: transparent;
		position: absolute;
		bottom: 0;
		left:0; right: 0;
        width: 100%;
        height:70px;
		&:after{
			content: " ";
			width: 100%;
			bottom: 0;
			background: var(--ion-color-light);
			height: env(safe-area-inset-bottom);
			position: absolute;
		}
		ion-tab-button {
			--background: var(--ion-color-light);
		}
		ion-tab-button.comments {
			margin-right: 0px;
			border-top-right-radius: 18px;
		}
		ion-tab-button.notifs {
			margin-left: 0px;
			border-top-left-radius: 18px;
		}
		svg {    
			width: 72px;
			margin-top: 19px;
			path{
				fill:  var(--ion-color-light);
			}		
		}
	}
}

.nameBtn{
    width: 70%;
    height: 57px;
    border-radius: 27px;
    background-color: white;
    border: 2px solid var(--ion-color-ibus-darkblue);
    font-size:15px;
    font-family:monteBold;
    color:var(--ion-color-ibus-darkblue);
    margin-left:26%;
}
.itemStyle{
    height: 80px;
    margin-right: 2%;
    margin-bottom: -4%;
}
.numberIconStyle{
    top: 9px;
    left: 29%;
    position: relative;
}
ion-fab-button{
    --box-shadow: none !important;
}

.popUp{
    background-color: var(--ion-color-ibus-theblue);
    height: 100vh;
    width: 100vw;
    position: relative;
    color: white;
    font-size: 25px;
    ion-icon{
        display: inline-block;
        font-size: 35px;
        vertical-align: middle;      
    }
}
.ion-text-center{
    display: flex;
    justify-content: center;
     width: 100vw;
     font-size:22px;
     font-family:monteRegular;
}
.pDetails{
    margin-top: 200px;
}
.closeBtn{
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    width: 100%;
    color:yellow;
    top: 70px;
    position: relative;
}
  

.md .pTitle{
    position: relative;
    top: 120px;
    left: 0px;
    color: white;
    font-size: 18px;
    font-family: monteSBold;
}
.ios .pTitle{
    position: relative;
    top: 120px;
    left: 0px;
    color: white;
    font-size:18px;
    font-family:monteSBold;
}

@media only screen and (max-width: 414px) {
    ion-toolbar{
        --background: #4E98FF;
        height: 127px;
    }
  }
  @media only screen and (max-width: 320px) {
    ion-toolbar{
        --background: #4E98FF;
        height: 70px;
    }
  }

  @media only screen and (max-width: 375px) {
    .ios ion-toolbar{
        --background: #4E98FF;
        height: 95px;
    }
    .ios ion-title{
        position: absolute;
        top: -15px;
        left: -15px;
        color: white;
        font-size: 21px;
    }
    .ios .closeBtnIcon{
        width: 40px;
        height: 40px;
        color: yellow;
        position: relative;
        top: 60px;
        left: -180px;
        
    }
  }
  @media only screen and (max-width: 320px) {
   

  }