<ion-header>
  <ion-toolbar>
    <ion-title>techhistory</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
	  <ion-button class="btn-login"  (click)="backToRoutes()" expand="block" shape="round" >Go Back</ion-button>


</ion-content>
