<ion-menu side="start" content-id="main-content">

  <ion-header>
    <ion-toolbar translucent>
      <ion-title class="menuToolbar" >{{'routelist-menu.title' | translate}}</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list>
      <ion-item routerLink="/home2/routelist" >
        <ion-icon class="iconStyling" name="home" slot="start"></ion-icon>
        <ion-label class="menuTxt" >{{'routelist-myRoutes.title' | translate}}</ion-label>
      </ion-item>
      <ion-item (click)="navigateToWalletPage()">
        <ion-icon class="iconStyling" name="wallet" slot="start"></ion-icon>
        <ion-label class="menuTxt" >{{'routelist-myWallet.title' | translate}}</ion-label>
      </ion-item>
      <ion-item (click)="navigateToRouteHistoryPage()">
        <ion-icon class="iconStyling" name="file-tray-full" slot="start"></ion-icon>
        <ion-label class="menuTxt" >{{'routelist-routeHistory.title' | translate}}</ion-label>
      </ion-item>
      <ion-item (click)="navigateToTechHistoryPage()">
        <ion-icon class="iconStyling" name="archive" slot="start"></ion-icon>
        <ion-label class="menuTxt" >{{'routelist-techHistory.title' | translate}}</ion-label>
      </ion-item>
      <ion-item (click)="navigateToProfilePage()">
        <ion-icon class="iconStyling" name="person" slot="start"></ion-icon>
        <ion-label class="menuTxt" >{{'routelist-profile.title' | translate}}</ion-label>
      </ion-item>
      <ion-item (click)="navigateToSettingsPage()">
        <ion-icon class="iconStyling" name="settings" slot="start"></ion-icon>
        <ion-label class="menuTxt" >{{'routelist-settings.title' | translate}}</ion-label>
      </ion-item>
      <ion-item (click)="navigateToLoginPage()">
        <ion-icon class="iconStyling" name="log-out"  slot="start"></ion-icon>
        <ion-label class="menuTxt" >{{'routelist-logout.title' | translate}}</ion-label>
      </ion-item>
    </ion-list>
  </ion-content>

</ion-menu>



<div class="ion-page" id="main-content">

  <ion-header>
    <ion-toolbar>
      <ion-buttons class="nav-buttons"slot="end">
         <ion-button style="width: 50px;/*!" (click)="navigateToNotificationsPage()" ><ion-icon class="notBtn" name="notifications" ></ion-icon></ion-button>
        <ion-menu-button class="menuBtn"></ion-menu-button>
      </ion-buttons>
      <ion-buttons (click)="navigateToProfilePage()" id="profile"></ion-buttons>
      <ion-title>{{'vehicleCheck-check.title' | translate}}</ion-title>
    </ion-toolbar>
  </ion-header>


  <ion-content>
    <ion-list>
    <ion-label class="ion-text-center">
      <p class="titleStyle">{{'vehicleCheck-pleaseCheck.title' | translate}}</p>
    </ion-label>
  <!--   <ion-list class="ionListClass">
      <ion-button [ngClass]="{'btnStyleChanged' : isChanged }" (click)="color()"  class="btnStyle">TIRES</ion-button>
    </ion-list>
    <ion-list class="ionListClass">
      <ion-button   class="btnStyle">FUEL</ion-button>
    </ion-list>
    <ion-list class="ionListClass">
      <ion-button class="btnStyle">ENGINE</ion-button>
    </ion-list>
    <ion-list class="ionListClass">
      <ion-button  class="btnStyle">BUS</ion-button>
    </ion-list> -->
    <form [formGroup]="commentForm" (ngSubmit)="submitWithEveryHttp()">

     <div *ngIf="eng" class="centerItems styleItems ion-padding">
      <ion-label class="labelIon">{{'vehicleCheck-checkArea.title' | translate}}</ion-label>
      <ion-item class="itemIon" lines="none">
        <ion-select interface="action-sheet" formControlName="measurementData" [(ngModel)]="checkpointen"  >
          <ion-select-option  class="custom-options" *ngFor="let enlang of englishLanguageJSON; let i = index" [value]="enlang">
                      {{enlang.CHECKPOINT}}
          </ion-select-option>
        </ion-select>
      </ion-item >
    </div>

     <div *ngIf="el" class="centerItems styleItems ion-padding">
      <ion-label class="labelIon">{{'vehicleCheck-checkArea.title' | translate}}</ion-label>
      <ion-item class="itemIon" lines="none">
        <ion-select [(ngModel)]="checkpointel"  interface="action-sheet">
          <ion-select-option  *ngFor="let ellang of ellangs" [value]="ellang">
                      {{ellang}}
          </ion-select-option>
        </ion-select>
      </ion-item >


    </div>

    <!-- <ion-buttons type="submit" class="hide-on-keyboard-open addBtn" vertical="bottom" horizontal="center" translucent="true">
      <button (click)="wannaBeData()" class="adBtn2">
        {{'vehicleCheck-start.title' | translate}}
      </button>
    </ion-buttons> -->
  
    <ion-list class="ionListClass">  
      <textarea formControlName="comment" type="text" class="txtArea" rows="4" cols="50" [(ngModel)]="amount"  (change)=check(amount)>
        {{'vehicleCheck-comments.title' | translate}}
      </textarea>
      <div *ngFor="let error of errorMessages.comment">
        <ng-container *ngIf="comment.hasError(error.type) && (comment.dirty || comment.touched)">
          <small class="error-message">{{error.message}}</small>
        </ng-container>
      </div>
    </ion-list>
    <div class="myiontab">

      <ion-tab-bar slot="bottom" class="ion-no-border">
        <ion-buttons type="submit" class="hide-on-keyboard-open addBtn" vertical="bottom" horizontal="center" translucent="true">
          <button class="adBtn2">
            {{'vehicleCheck-start.title' | translate}}
          </button>
        </ion-buttons>
       
      </ion-tab-bar>
    
    </div>
    <div class="myiontab2">
      <ion-tab-bar slot="bottom" class="ion-no-border">
      <ion-buttons  (click)="navigateToroutelist()"  class="hide-on-keyboard-open addBtn" vertical="bottom" horizontal="center" translucent="true">
        <button  (click)="navigateToroutelist()" class="adBtn2">
          CANCEL
        </button>
      </ion-buttons>      
    </ion-tab-bar>
    </div> 
  </form>

    </ion-list>
  </ion-content>
  
</div>





 <!-- <div class="myiontab">

  <ion-tab-bar slot="bottom" class="ion-no-border">
    <ion-buttons type="submit" class="hide-on-keyboard-open addBtn" vertical="bottom" horizontal="center" translucent="true">
      <button class="adBtn2">
        {{'vehicleCheck-start.title' | translate}}
      </button>
    </ion-buttons>
  </ion-tab-bar>

</div>
<div class="myiontab2">
  <ion-tab-bar slot="bottom" class="ion-no-border">
  <ion-buttons  (click)="navigateToroutelist()" type="submit" class="hide-on-keyboard-open addBtn" vertical="bottom" horizontal="center" translucent="true">
    <button  (click)="navigateToroutelist()" class="adBtn2">
      CANCEL
    </button>
  </ion-buttons>      
</ion-tab-bar>
</div> -->
