
<ion-content>
  <div class="loginpage">
  <ion-toolbar color="blue">
    <ion-title class="toolbar-title center">{{'forgot-title.title' | translate}}</ion-title>
    <ion-buttons>
    <ion-button class="back-btn" routerLink="/login"><ion-icon class="arrow-back" slot="start" name="arrow-back"></ion-icon></ion-button>
  </ion-buttons>
  </ion-toolbar>

  <div class="center profile-img">
    <div class="profile-img">
      <app-myprofile></app-myprofile>
    </div>
    <div class="login-desc">
      <a>{{'forgot-method.title' | translate}} </a>
       <a>{{'forgot-recover.title' | translate}}</a>
    </div>
  </div>

  <form id="form">
    <ion-list>
      <ion-item lines='none'>
        <!-- <ion-label class="label-styling" position="floating">Via Email</ion-label> -->
        <ion-input  name="email"  type="text" placeholder="{{'forgot-email.title' | translate}}" required></ion-input>  
        <ion-icon slot="end" name="mail" ios="mail"></ion-icon>
      </ion-item>

      <ion-item lines="none">
        <!-- <ion-label class="label-styling" position="floating">Via SMS</ion-label> -->
        <ion-input  type="tel" name="mobile" placeholder="{{'forgot-phone.title' | translate}}" requred></ion-input>
        <ion-icon slot="end" name="call"></ion-icon>
      </ion-item>

      <ion-button class="btn-login" expand="block" shape="round" (click)=passrecovery() >{{'forgot-send.title' | translate}}</ion-button>
    </ion-list>
  </form>
</div>
</ion-content>