.header {
    background-color: var(--ion-color-ibus-blue);
}

.ios ion-toolbar {
    --background: #4E98FF;
    height: 127px;
}

.md ion-toolbar {
    --background: #4E98FF;
    height: 87px;
}

.error-message {
    position: absolute;
    top: 120px;
    left: 1px;
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 18px;
    font-family: monteRegular;
    color: var(--ion-color-ibus-red);
}

.notBtn {
    color: white;
    width: 47px;
    height: 62px;
}

.menuBtn {
    font-size: 100px;
    width: 70px;
    color: white;
}

.my-custom-interface .select-interface-option {
    color: red;
}

.menuTxt {
    font-size: 18px;
    font-family: monteRegular;
    color: var(--ion-color-ibus-darkblue);
}

.iconStyling {
    color: var(--ion-color-ibus-darkblue);
}

.menuToolbar {
    position: relative;
    margin-top: 80px;
    font-size: 25px;
}

.ios #profile {
    width: 60px;
    height: 60px;
    background-color: white;
    border-radius: 50%;
    position: relative;
    left: 27px;
    margin-bottom: 31px;
    background-image: url(../../assets/images/profile.jpg);
    background-size: 60px 80px;
}

.ios ion-title {
    position: absolute;
    top: -15px;
    left: -30px;
    color: white;
    font-size: 21px;
}

.md #profile {
    width: 60px;
    height: 60px;
    background-color: white;
    border-radius: 50%;
    position: relative;
    left: 27px;
    margin-top: 14px;
    background-image: url(../../assets/images/profile.jpg);
    background-size: 60px 80px;
}

.ios .nav-buttons {
    margin-bottom: 30px;
}

.md ion-title {
    position: absolute;
    top: 30px;
    left: 80px;
    color: white;
    font-size: 21px;
}

.md .nav-buttons {
    margin-bottom: -15px;
}

.labelIon {
    position: absolute;
    font-size: 20px;
    font-family: monteBold;
    color: var(--ion-color-ibus-darkblue);
}

.itemIon {
    width: 100%;
    margin-top: 10%;
}

ion-select {
    font-size: 21px;
    font-family: monteSBold;
    color: white;
    background-color: var(--ion-color-ibus-theblue);
    width: 100%;
    height: 70px;
    border-radius: 8px;
    padding: 4px 5px 5px 29px;
    text-align: center;
}

.centerItems {
    display: flex;
    width: 100%;
    justify-content: center;
}

.titleStyle {
    position: relative;
    top: -18px;
    left: 0px;
    color: var(--ion-color-ibus-darkblue);
    font-size: 21px;
    z-index: 9999;
    margin-top: 40px;
    font-family: monteBold;
}

.titleStyle {
    font-size: 25px;
    font-family: monteSBold;
    color: var(--ion-color-ibus-darkblue);
    padding: 37px;
}

.ionListClass {
    justify-content: center;
    display: flex !important;
    align-items: center !important;

    .btnStyle {
        width: 88%;
        height: 50px;
        border-radius: 12px;
        --background: var(--ion-color-ibus-theblue);
        font-family: monteBold;
        font-size: 16px;
        --background-activated: red;
    }

    .btnStyleChanged {
        --background: var(--ion-color-ibus-lightgreen);
    }

    .txtArea {
        width: 91%;
        height: 150px;
        border-radius: 8px;
        border: none;
        background-color: var(--ion-color-ibus-theblue);
        color: white;
        font-family: monteSBold;
        font-size: 16px;
        padding: 56px;
        margin-top: 1%;
    }

}

ionic-selectable {
    font-size: 21px;
    font-family: monteSBold;
    color: white;
    background-color: var(--ion-color-ibus-theblue);
    width: 100%;
    height: 70px;
    border-radius: 8px;
    padding-top: 8px;
    opacity: 1 !important;
    text-align: center;
}

.myiontab {

    ion-tab-bar {
        justify-content: center;
        display: flex;
        width: 100%;
        height: 90px;

        .addBtn {

            margin-bottom: env(safe-area-inset-bottom);

            /* fix notch ios*/
            button {
                --box-shadow: none;
                background-color: var(--ion-color-ibus-red);
                border-radius: 70px;
                width: 80px;
                height: 80px;
                color: white;
                font-family: monteSBold;
                font-size: 11px;
            }

            ion-icon {
                color: white;
                width: 30px;
                height: 30px;
                stroke: 5px;
            }

            ion-badge {
                --background: transparent;
            }
        }

    }
}

.myiontab2 {

    ion-tab-bar {
        justify-content: center;
        display: flex;
        width: 100%;
        height: 90px;

        .addBtn {

            margin-bottom: env(safe-area-inset-bottom);

            /* fix notch ios*/
            button {
                --box-shadow: none;
                background-color: var(--ion-color-ibus-red);
                border-radius: 70px;
                width: 80px;
                height: 80px;
                color: white;
                font-family: monteSBold;
                font-size: 11px;
            }

            ion-icon {
                color: white;
                width: 30px;
                height: 30px;
                stroke: 5px;
            }

            ion-badge {
                --background: transparent;
            }
        }

    }
}

// ------------------ !!!!!! ---------------- // 
// BottomBar CSS 



// .startButtonClass{
//     background-color: transparent;
//     position: relative;
//     top: -10px;
//     height: 60px;
//     border: none;
//     .addBtn {
//         justify-content: center;
//         display: flex;
//         text-align: center;
//         margin-bottom: env(safe-area-inset-bottom); /* fix notch ios*/
//         position: absolute;
//         top: 9px;
//         button {
//             --box-shadow: none;
//             background-color: var(--ion-color-ibus-classicgreen);
//             border-radius: 70px;
//             width: 60px;
//             height: 60px;
//             position: relative;
//             top: -9px;
//             color:white;
//             font-family:monteSBold;
//             font-size:11px;
//             bottom: 0px;
//         }
//         ion-icon{
//             color:white;
//             width:30px;
//             height:30px;
//             stroke: 5px;
//         }
//         ion-badge{
//         --background: transparent;
//          }
//     }
// }
.bottomBar {

    //  position: relative;
    // height: 60px;
    .ionTabBar {
        --border: 0;
        --background: transparent;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;

        &:after {
            content: " ";
            width: 100%;
            bottom: 0;
            background: var(--ion-color-light);
            height: env(safe-area-inset-bottom);
            position: absolute;
        }

        ion-tab-button {
            --background: var(--ion-color-light);
        }

        ion-tab-button.comments {
            margin-right: 0px;
            border-top-right-radius: 18px;
        }

        ion-tab-button.notifs {
            margin-left: 0px;
            border-top-left-radius: 18px;
        }

        svg {
            width: 72px;
            margin-top: 19px;

            path {
                fill: var(--ion-color-light);
            }
        }
    }
}

// ------------------ !!!!!! ---------------- // 
.iconStyling {
    color: var(--ion-color-ibus-darkblue);
}

.centerTitle {
    justify-content: center;
    width: 100%;
    display: flex;
    text-align: center;
    margin-top: 6%;
}

ion-select::part(icon) {
    display: none !important;
}

.srchBtn {
    width: 100%;
    margin-top: 6%;
}

@media only screen and (max-width: 414px) {
    ion-toolbar {
        --background: #4E98FF;
        height: 127px;
    }

    .ionListClass {
        justify-content: center;
        display: flex !important;
        align-items: center !important;

        .btnStyle {
            width: 88%;
            height: 50px;
            border-radius: 12px;
            --background: var(--ion-color-ibus-theblue);
            font-family: monteBold;
            font-size: 16px;
            --background-activated: red;
        }

        .btnStyleChanged {
            --background: var(--ion-color-ibus-lightgreen);
        }

        .txtArea {
            width: 91%;
            height: 150px;
            border-radius: 8px;
            border: none;
            background-color: var(--ion-color-ibus-theblue);
            color: white;
            font-family: monteSBold;
            font-size: 13px;
            padding: 56px;
            margin-top: 1%;
        }

    }
}

@media only screen and (max-width: 320px) {
    ion-toolbar {
        --background: #4E98FF;
        height: 70px;
    }
}

@media only screen and (max-width: 375px) {
    .ios ion-toolbar {
        --background: #4E98FF;
        height: 95px;
    }

    .ios ion-title {
        position: absolute;
        top: -15px;
        left: -15px;
        color: white;
        font-size: 21px;
    }

    .ionListClass {
        justify-content: center;
        display: flex !important;
        align-items: center !important;

        .btnStyle {
            width: 88%;
            height: 50px;
            border-radius: 12px;
            --background: var(--ion-color-ibus-theblue);
            font-family: monteBold;
            font-size: 16px;
            --background-activated: red;
        }

        .btnStyleChanged {
            --background: var(--ion-color-ibus-lightgreen);
        }

        .txtArea {
            width: 91%;
            height: 150px;
            border-radius: 8px;
            border: none;
            background-color: var(--ion-color-ibus-theblue);
            color: white;
            font-family: monteSBold;
            font-size: 10px;
            padding: 56px;
            margin-top: 1%;
        }

    }
}

@media only screen and (max-width: 320px) {
    .ionListClass {
        justify-content: center;
        display: flex !important;
        align-items: center !important;

        .btnStyle {
            width: 88%;
            height: 50px;
            border-radius: 12px;
            --background: var(--ion-color-ibus-theblue);
            font-family: monteBold;
            font-size: 16px;
            --background-activated: red;
        }

        .btnStyleChanged {
            --background: var(--ion-color-ibus-lightgreen);
        }

        .txtArea {
            width: 91%;
            height: 150px;
            border-radius: 8px;
            border: none;
            background-color: var(--ion-color-ibus-theblue);
            color: white;
            font-family: monteSBold;
            font-size: 8px;
            padding: 56px;
            margin-top: 1%;
        }

    }

}