<ion-menu side="start" content-id="main-content">

  <ion-header>
    <ion-toolbar translucent>
      <ion-title class="menuToolbar" >{{'routelist-menu.title' | translate}}</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list>
      <ion-item (click)="goingBackToRouteList()" >
        <ion-icon class="iconStyling" name="home" slot="start"></ion-icon>
        <ion-label class="menuTxt" >{{'routelist-myRoutes.title' | translate}}</ion-label>
      </ion-item>
      <ion-item (click)="weAreAlreadyInWalletPage()">
        <ion-icon class="iconStyling" name="wallet" slot="start"></ion-icon>
        <ion-label class="menuTxt" >{{'routelist-myWallet.title' | translate}}</ion-label>
      </ion-item>
      <ion-item (click)="navigateToRouteHistoryPage()">
        <ion-icon class="iconStyling" name="file-tray-full" slot="start"></ion-icon>
        <ion-label class="menuTxt" >{{'routelist-routeHistory.title' | translate}}</ion-label>
      </ion-item>
      <ion-item (click)="navigateToTechHistoryPage()">
        <ion-icon class="iconStyling" name="archive" slot="start"></ion-icon>
        <ion-label class="menuTxt" >{{'routelist-techHistory.title' | translate}}</ion-label>
      </ion-item>
      <ion-item (click)="navigateToProfilePage()">
        <ion-icon class="iconStyling" name="person" slot="start"></ion-icon>
        <ion-label class="menuTxt" >{{'routelist-profile.title' | translate}}</ion-label>
      </ion-item>
      <ion-item (click)="navigateToSettingsPage()">
        <ion-icon class="iconStyling" name="settings" slot="start"></ion-icon>
        <ion-label class="menuTxt" >{{'routelist-settings.title' | translate}}</ion-label>
      </ion-item>
      <ion-item routerLink="/login">
        <ion-icon class="iconStyling" name="log-out"  slot="start"></ion-icon>
        <ion-label class="menuTxt" >{{'routelist-logout.title' | translate}}</ion-label>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons class="nav-buttons"slot="end">
         <ion-button style="width: 50px;/*!" (click)="navigateToNotificationsPage()" ><ion-icon class="notBtn" name="notifications" ></ion-icon><ion-badge></ion-badge></ion-button>
        <ion-menu-button class="menuBtn"></ion-menu-button>
      </ion-buttons>
      <ion-buttons (click)="navigateToProfilePage()" id="profile"></ion-buttons>
      <ion-title>{{'routelist-myWallet.title' | translate}}</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <div class="centerItems titleStyle">{{'myWallet-balance.title' | translate}}</div>
    <ion-item lines="none">
      <ion-img class="centerItems" src="assets/images/wallet_board.svg">
   
      </ion-img>

     
       <p  class="money">25</p>  
 

    </ion-item>
    

  <form [formGroup]="paymentForm" (ngSubmit)="submit()">
    <div class="centerItems styleItems ion-padding">
      <ion-label class="labelIon">{{'myWallet-transactionType.title' | translate}}</ion-label>
      <ion-item class="itemIon" lines="none">
        <ion-select formControlName="typeOfPayment"  [(ngModel)]="selectedValue" (ionChange)="confirmPaymentWithEveryHttp()"  interface="action-sheet">
          <ion-select-option  *ngFor="let type of types" [value]="type">
                      {{type}}
          </ion-select-option>
        </ion-select>
      </ion-item >
    </div>
    <div *ngIf="costinc" class="centerItems styleItems ion-padding">
      <ion-label class="labelIon">{{'myWallet-transaction.title' | translate}}</ion-label>
      <ion-item class="itemIon" lines="none">
        <ion-select formControlName="transactionType"  [(ngModel)]="checkpointen" interface="action-sheet">
          <ion-select-option  *ngFor="let test of walletsJSON; let mi = index">
                                                    {{test.TRAN_TYPE_DESCR}}
      
                      
          </ion-select-option>
        </ion-select>
      </ion-item >
    </div>

     <div *ngIf="el" class="centerItems styleItems ion-padding">
      <ion-label class="labelIon">{{'myWallet-transaction.title' | translate}}</ion-label>
      <ion-item class="itemIon" lines="none">
        <ion-select formControlName="otherTransactionType"  [(ngModel)]="checkpointel"  interface="action-sheet">
          <ion-select-option  *ngFor="let ellang of ellangs" [value]="ellang">
                      {{ellang}}
          </ion-select-option>
        </ion-select>
      </ion-item >
    </div>

    <div class="centerItems ion-padding">
      <ion-label class="labelIon">{{'myWallet-amount.title' | translate}}</ion-label>
      <ion-item class="itemIon" lines="none">
        <ion-input formControlName="ammountOfPayment"  name="number" placeholder="23€" [(ngModel)]="amount"  (change)=check(amount)  ></ion-input>
      </ion-item>
    </div>

    <ion-button class="btn-send" expand="block" type="submit" shape="round" >{{'wallet-update.title' | translate}}</ion-button>
    <div class="myiontab">

      <ion-tab-bar slot="bottom" class="ion-no-border">
        <ion-buttons class="addBtn" vertical="bottom" horizontal="center" translucent="true">
          <button (click)="goBackToRouteListPageWithDriverId()" class="adBtn2">
            <ion-icon name="arrow-back"></ion-icon>
          </button>
        </ion-buttons>
        <ion-tab-button tab="routelist" (click)="goingBackToRouteList()">
          <ion-icon class="iconStyling" name="home"></ion-icon>
        </ion-tab-button>
    
        <ion-tab-button tab="wallet" class="comments" (click)="weAreAlreadyInWalletPage()">
          <ion-icon class="iconStyling" name="wallet"></ion-icon>
        </ion-tab-button>
    
        <svg height="50" viewBox="0 0 100 50" width="100" xmlns="http://www.w3.org/2000/svg"><path d="M100 0v50H0V0c.543 27.153 22.72 49 50 49S99.457 27.153 99.99 0h.01z" fill="red" fill-rule="evenodd"></path></svg>
    
        <ion-tab-button tab="route-history" class="notifs" (click)="navigateToRouteHistoryPage()">
          <ion-icon class="iconStyling" name="file-tray-full"></ion-icon>
        </ion-tab-button>
    
        <ion-tab-button tab="settings" (click)="navigateToSettingsPage()">
          <ion-icon class="iconStyling" name="settings"></ion-icon>
        </ion-tab-button>
      </ion-tab-bar>
    
    </div>
  
  </form>

  </ion-content>
  <!-- ---------------- !!!!!! ---------------- --> 
  
