.header{
    background-color:var(--ion-color-ibus-blue);
}
.ios ion-toolbar{
    --background: #4E98FF;
    height: 127px;
}
.md ion-toolbar{
    --background: #4E98FF;
    height: 87px;
}
ion-
ion-fab{
    margin-bottom: env(safe-area-inset-bottom); /* fix notch ios*/
		ion-fab-button {
			--box-shadow: none;
        }
        position:fixed;
}
.ios #profile{
    width: 60px;
    height: 60px;
    background-color: white;
    border-radius: 50%;
    position: relative;
    left: 27px;
    margin-bottom: 31px;
    background-image: url(../../assets/images/profile.jpg);
    background-size: 60px 80px;
}
.ios ion-title{
    position: absolute;
    top: -15px;
    left: -30px;
    color: white;
    font-size: 21px;
}
.md #profile{
    width: 60px;
    height: 60px;
    background-color: white;
    border-radius: 50%;
    position: relative;
    left: 27px;
    margin-top: 14px;
    background-image: url(../../assets/images/profile.jpg);
    background-size: 60px 80px;
}
.ios .nav-buttons{
    margin-bottom: 30px;
}
.md ion-title{
    position: absolute;
    top: 30px;
    left: 80px;
    color: white;
    font-size: 21px;
}
.md .nav-buttons{
    margin-bottom: -15px;
}
.notBtn{
    color: white;
    width: 36px;
    height: 42px;
    position: absolute;
    left: 5px;
}
.menuBtn{
    font-size: 100px;
    width: 70px;
    color: white;
}
.menuTxt{
    font-size:18px;
    font-family:monteRegular;
    color:var(--ion-color-ibus-darkblue);
}
.iconStyling{
    color:var(--ion-color-ibus-darkblue);
}
.menuToolbar{
    position: relative;
    margin-top: 80px;
    font-size: 25px;
}



#form {
    padding-left:30px;
    padding-right:30px;
    background-color:white;
}
ion-icon{
    position: absolute;
    right: 29px;
    color: var(--ion-color-ibus-darkblue);
}
.button-native{
    
}
ion-input{
    height: 70px;
    font-size:15px;
    color:var(--ion-color-ibus-darkblue);
    font-family:monteMedium;
    margin-top:3%;
    border-radius:21px;
    position:relative;
    border:2px solid var(--ion-color-ibus-blue);
    text-align: center;
    
}

.btn-send{
    height: 60px;
    height:18;
    text-align:center;
    color:white;
    font-family: monteBold;
    font-size:13px;
    border-radius: 21px;
  //  background-image: linear-gradient(180deg, #4E98FF 90%,#4E98FF 10%);
    margin-top:7%;
}
.btn-goback{
    width:100%;
    height: 60px;
    height:18;
    text-align:center;
    color:white;
    font-family: monteBold;
    font-size:13px;
    border-radius: 21px;
    background-color:var(--ion-color-ibus-classicgreen) !important;
  //  background-image: linear-gradient(180deg, #4E98FF 90%,#4E98FF 10%);
    margin-top:7%;
}
.centerItems{
    justify-content: center;
    width: 100%;
    display:flex;
}
ion-img{
    width: 120px;
    height: 130px;
    margin-top: 20px;
}
@media only screen and (max-width: 414px) {
    ion-toolbar{
        --background: #4E98FF;
        height: 127px;
    }
  }
  @media only screen and (max-width: 320px) {
    ion-toolbar{
        --background: #4E98FF;
        height: 70px;
    }
  }

  @media only screen and (max-width: 375px) {
    .ios ion-toolbar{
        --background: #4E98FF;
        height: 95px;
    }
    .ios ion-title{
        position: absolute;
        top: -15px;
        left: -15px;
        color: white;
        font-size: 21px;
    }
  }
  @media only screen and (max-width: 320px) {
   

  }