/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";
@import '~firebaseui/dist/firebaseui.css';


@font-face {
    font-family: monteLight;
    src: url(./assets/fonts/Montserrat-Light.ttf);
  }
  @font-face {
    font-family: monteMedium;
    src: url(./assets/fonts/Montserrat-Medium.ttf);
  }
  @font-face {
    font-family: monteRegular;
    src: url(./assets/fonts/Montserrat-Regular.ttf);
  }
  @font-face {
    font-family: monteSbold;
    src: url(./assets/fonts/Montserrat-SemiBold.ttf);
  }
  @font-face {
    font-family: monteBold;
    src: url(./assets/fonts/Montserrat-Bold.ttf);
  }
