#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

#map{
  width:100%;
  height: 300px;
}
.login-btn{
    height: 60px;
    height:18;
    color:white;
    font-family: monteBold;
    font-size:13px;
    border-radius: 21px;
    background-image: linear-gradient(180deg, #4E98FF 90%,#4E98FF 10%);
    position:relative;
    bottom:50px;
}
ion-button{
    height: 60px;
    height:18;
    color:white;
    font-family: monteBold;
    font-size:13px;
    border-radius: 21px;
    background-image: linear-gradient(180deg, #4E98FF 90%,#4E98FF 10%);
    position: relative;
bottom: -80px;
}
#form {
    margin-top:5px;
    padding-left:30px;
    padding-right:30px;
}
/* commit */

ion-slide{
    padding: 20px 20px;
    display:block;
    h1{
        font-size:25px;
        color:var(--ion-color-ibus-blue);
        margin-top:30px;
        font-family:monteBold;
    }
    h2{
        font-size:19px;
        color:var(--ion-color-ibus-darkblue);
        margin-top:30px;
        font-family:monteBold;
    }
    p{
        font-size:21px;
        font-family:monteRegular;
    }
}
ion-slides{
    position: relative;
    top: 60px;
    --bullet-background-active: var(--ion-color-ibus-darkblue) !important;
}
:host ::ng-deep .swiper-pagination{

    position: relative;
    .swiper-pagination-bullet {
        --bullet-background: #000000;
        width: 20px ;
        height: 20px ;
    }

    .swiper-pagination-bullet-active {
        width: 20px ;
        height: 20px ;
    } 
}
.img{
        width:263px;
        height:112px;
    }
