
<ion-content>
<app-slides>
  <ion-slides pager="true" style="" [options]="slideOpts">
    <ion-slide>
      <app-logo></app-logo>
      <h1>Work for us</h1>
      <h2>LEARN NOW</h2>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,Lorem Ipsum is simply dummy text of the printing and typesetting industry.Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
    </ion-slide>
    <ion-slide>
      <app-logo></app-logo>
      <h1>Register as a Driver</h1>
      <h2>EASY 4-STEPS</h2>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
    </ion-slide>
    <ion-slide>
      <app-logo></app-logo>
      <h1>COVID 19 NEWS</h1>
      <h2>Learn about covid19</h2>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, </p>
    </ion-slide>
  </ion-slides>
  </app-slides>
  <form id="form">

<ion-button class="btn-login" expand="block" shape="round" (click)="navigateToLoginPage()">CONTINUE</ion-button>

</form>

</ion-content>