<ion-content>
  <div class="registration-page">
  <ion-toolbar color="blue">
    <ion-title class="toolbar-title center">{{'register-driverinfo.title' | translate}}</ion-title>
    <ion-buttons>
    <ion-button class="back-btn" (click)="navigateBack()"><ion-icon class="arrow-back" slot="start" name="arrow-back"></ion-icon></ion-button>
  </ion-buttons>
  </ion-toolbar>

  <!-- Code goes here -->

  <div class="center">
    <img src="assets/images/registration_steps_two.svg" alt="ibus registration steps" />
  </div>
  <div class="steps-desc">
    <a class="step-1">{{'register-info.title' | translate}}</a>
    <a class="step-2">{{'register-addressinfo.title' | translate}}</a>
    <a class="step-3">{{'register-driverinfo.title' | translate}}</a>
  </div>
  <div class="registration-desc">
    <a>{{'register-form.title' | translate}}</a>
  </div>

   <ion-button  class="btn-pic" (click)="takePicture()" expand="block" shape="round" >Licence</ion-button>
   <ion-button  class="btn-pic" (click)="takePicture2()" expand="block" shape="round" >Insurance</ion-button>
   <ion-button  class="btn-pic"  (click)="takePicture3()" expand="block" shape="round" >Profile</ion-button>
  <form id="form" [formGroup]="finalRegistrationForm" (ngSubmit)="getSignUpFromEveryPlatForm()">
    
    <ion-list>
      <ion-item lines='none'>
        <ion-icon  name="newspaper" ios="newspaper"></ion-icon>
        <ion-input formControlName="licNumber" class="fileclass" name="licNumber"  type="text" placeholder="{{'register3-lnumber.title' | translate}}" required>
        </ion-input>
      </ion-item>
      <div *ngFor="let error of errorMessages.licNumber">
        <ng-container *ngIf="licNumber.hasError(error.type) && (licNumber.dirty || licNumber.touched)">
          <small class="error-message">{{error.message}}</small>
        </ng-container>
      </div>
      <ion-item lines='none'>
        <ion-icon  name="newspaper" ios="newspaper"></ion-icon>
        <ion-input formControlName="plate" class="fileclass" name="plate"  type="text" placeholder="{{'register3-lnumber.title' | translate}}" required>
        </ion-input>
      </ion-item>
      <div *ngFor="let error of errorMessages.plate">
        <ng-container *ngIf="plate.hasError(error.type) && (plate.dirty || plate.touched)">
          <small class="error-message">{{error.message}}</small>
        </ng-container>
      </div>
    
      <ion-button [disabled]="!finalRegistrationForm.valid" class="btn-send" expand="block" type="submit" shape="round" (click)="call2()" >{{'register-next.title' | translate}}</ion-button>
    </ion-list>
  </form>
  </div>
</ion-content>