.registration-page{
    position:relative;
    top:55px;
    z-index:200;
}

.back-btn{
    position: relative;
    bottom: 30px;
    left:20px;
    width:50px;
    height: 50px;
}
.fileInput {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}
.fileclass{
    margin-top:3%;
    height: 70px;
    font-size: 16px;
    color: var(--ion-color-ibus-darkblue);
    font-family: monteMedium;
    border-radius: 21px;
    border: 2px solid var(--ion-color-ibus-blue);
    text-align: center;
    position: relative;
    width: 100%;
    padding: 19px;
}
.fileInput   label {
    color: #717171;
    background-color: white;
    display: inline-block;
    cursor: pointer;
    padding: .5em 1em;
    border: 1px solid #ccc;
    cursor: pointer;
}

.arrow-back{
    position: relative;
    left: 10px;
    top: -6px;
}
.toolbar-title{
    font-size:16px;
    font-family:monteBold;
    color:var(--ion-color-ibus-blue);   
    position:relative;
    bottom:2px;
}
// img{
//     position:relative;
//     left:35px;
// }
.registration-desc{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: monteBold;
    font-size: 26px;
    color: var(--ion-color-ibus-darkblue);
    position: relative;
    top: 65px;
}


#form {
    margin-top:5px;
    padding-left:30px;
    padding-right:30px;
    background-color:white;
    position: relative;
    top:100px;
}
// ion-item{
//     width: 100%;
//     height: 80px;
//     border-radius: 21px;
//     border: 2px solid var(--ion-color-ibus-blue);
//     margin-top:3%
// }
ion-icon{
    position: absolute;
    right: 29px;
    color: var(--ion-color-ibus-darkblue);
}
.licence-number-icon{
    position: absolute;
    top: 21px;
    right: 21px;
    z-index: 3000;
    margin-top:3px;

}
ion-input{ 
    height: 70px;
    font-size:15px;
    color:var(--ion-color-ibus-darkblue);
    font-family:monteMedium;
    border-radius:21px;
    border:2px solid var(--ion-color-ibus-blue);
    text-align: center;
}

.btn-send{
    height: 60px;
    height:18;
    text-align:center;
    color:white;
    font-family: monteBold;
    font-size:13px;
    border-radius: 21px;
    background-image: linear-gradient(180deg, #4E98FF 90%,#4E98FF 10%);
    margin-top:4%;
}
.btn-pic{
    height: 60px;
    height:18;
    text-align:center;
    color:white;
    font-family: monteBold;
    font-size:13px;
    border-radius: 21px;
    background-image: linear-gradient(180deg, #4E98FF 90%,#4E98FF 10%);
    
}

.steps-desc{
    position:relative;
    top:10px;
}
.step-1{
    position:relative;
    left:30px;
    font-size:11px;
    font-family:monteBold;
    color:var(--ion-color-ibus-darkblue);
}
.step-2{
    position:relative;
    left:70px;
    font-size:11px;
    font-family:monteBold;
    color:var(--ion-color-ibus-darkblue);
}
.step-3{
    position:relative;
    left:120px;
    font-size:11px;
    font-family:monteBold;
    color:var(--ion-color-ibus-darkblue);
}

@media only screen and (max-width: 428px) {
 
    .steps-desc{
        position:relative;
        top:10px;
        left:7px;
    }
}
@media only screen and (max-width: 414px) {
 
    .steps-desc{
        position:relative;
        top:10px;
        left:0px;
    }
}
@media only screen and (max-width: 375px) {
    .steps-desc{
        display:none;
    }
    .toolbar-title{
        font-size: 14px;
        font-family: monteBold;
        color: var(--ion-color-ibus-blue);
        position: relative;
        top:-2px;
    }
}
@media only screen and (max-width: 375px) {
    .steps-desc{
        display:none;
    }
    .toolbar-title{
        font-size: 12px;
        font-family: monteBold;
        color: var(--ion-color-ibus-blue);
        position: relative;
        top:-5px;
    }
}