.header{
    background-color:var(--ion-color-ibus-blue);
}
.ios ion-toolbar{
    --background: #4E98FF;
    height: 127px;
}
.md ion-toolbar{
    --background: #4E98FF;
    height: 87px;
}
ion-fab{
    margin-bottom: env(safe-area-inset-bottom); /* fix notch ios*/
		ion-fab-button {
			--box-shadow: none;
        }
        position:fixed;
}
.notBtn{
    color: white;
    width: 47px;
    height: 62px;
}
.menuBtn{
    font-size: 100px;
    width: 70px;
    color: white;
}
.menuTxt{
    font-size:18px;
    font-family:monteRegular;
    color:var(--ion-color-ibus-darkblue);
}
.iconStyling{
    color:var(--ion-color-ibus-darkblue);
}
.menuToolbar{
    position: relative;
    margin-top: 80px;
    font-size: 25px;
}
.ios #profile{
    width: 60px;
    height: 60px;
    background-color: white;
    border-radius: 50%;
    position: relative;
    left: 27px;
    margin-bottom: 31px;
    background-image: url(../../assets/images/profile.jpg);
    background-size: 60px 80px;
}
.ios ion-title{
    position: absolute;
    top: -15px;
    left: -30px;
    color: white;
    font-size: 21px;
}
.md #profile{
    width: 60px;
    height: 60px;
    background-color: white;
    border-radius: 50%;
    position: relative;
    left: 27px;
    margin-top: 14px;
    background-image: url(../../assets/images/profile.jpg);
    background-size: 60px 80px;
}
.ios .nav-buttons{
    margin-bottom: 30px;
}
.md ion-title{
    position: absolute;
    top: 30px;
    left: 80px;
    color: white;
    font-size: 21px;
}
.md .nav-buttons{
    margin-bottom: -15px;
}

.myiontab{
	ion-fab {
		margin-bottom: env(safe-area-inset-bottom); /* fix notch ios*/
		ion-fab-button {
			--box-shadow: none;
			z-index: 1;
		}
	}
	ion-tab-bar {
        .addBtn {
            justify-content: center;
            display: flex;
            text-align: center;
            margin-bottom: env(safe-area-inset-bottom); /* fix notch ios*/
            button {
                --box-shadow: none;
                background-color: var(--ion-color-ibus-theblue);
                border-radius: 70px;
                width: 51px;
                height: 51px;
                position: absolute;
                left: 181px;
                top: -32px;
                color:white;
                font-family:monteSBold;
                font-size:11px;
            }
            ion-icon{
                color:white;
                width:30px;
                height:30px;
                stroke: 5px;
            }
            ion-badge{
            --background: transparent;
             }
        }
		--border: 0;
		--background: transparent;
		position: absolute;
		bottom: 0;
		left:0; right: 0;
        width: 100%;
        height:70px;
		&:after{
			content: " ";
			width: 100%;
			bottom: 0;
			background: var(--ion-color-light);
			height: env(safe-area-inset-bottom);
			position: absolute;
		}
		ion-tab-button {
			--background: var(--ion-color-light);
		}
		ion-tab-button.comments {
			margin-right: 0px;
			border-top-right-radius: 18px;
		}
		ion-tab-button.notifs {
			margin-left: 0px;
			border-top-left-radius: 18px;
		}
		svg {    
			width: 72px;
			margin-top: 19px;
			path{
				fill:  var(--ion-color-light);
			}		
		}
	}
}
// .bottomBar{
	
// 	ion-tab-bar {
// 		--border: 0;
// 		--background: transparent;
// 		position: absolute;
// 		bottom: 0;
// 		left:0; right: 0;
// 		width: 100%;
// 		&:after{
// 			content: " ";
// 			width: 100%;
// 			bottom: 0;
// 			background: var(--ion-color-light);
// 			height: env(safe-area-inset-bottom);
// 			position: absolute;
// 		}
// 		ion-tab-button {
// 			--background: var(--ion-color-light);
// 		}
// 		ion-tab-button.comments {
// 			margin-right: 0px;
// 			border-top-right-radius: 18px;
// 		}
// 		ion-tab-button.notifs {
// 			margin-left: 0px;
// 			border-top-left-radius: 18px;
// 		}
// 		svg {    
// 			width: 72px;
// 			margin-top: 19px;
// 			path{
// 				fill:  var(--ion-color-light);
// 			}		
// 		}
// 	}
// }
.maintBtn{
    height: 70px;
    border-radius: 23px;
    background-color: var(--ion-color-ibus-darkblue);
    font-family: monteRegular;
    font-size: 18px;
    padding: 21px;
    position: absolute;
    width: 90%;
    left: 5%;
    color: white;
    top: 20px;
}
.centerItems{
    display:flex;
    width:100%;
    justify-content: center;
}
ion-select{
    font-size: 21px;
    font-family: monteSBold;
    color: white;
    background-color: var(--ion-color-ibus-theblue);
    width: 100%;
    height: 70px;
    border-radius: 8px;
    padding:3px 1px 1px 34px;
}
.itemIon{
    width:100%;
    margin-top:10%;
}
.labelIon{
    position:absolute;
    font-size:20px;
    font-family:monteBold;
    color:var(--ion-color-ibus-darkblue);
}

.action-sheet-button{
    color: red !important;
}

@media only screen and (max-width: 414px) {
    ion-toolbar{
        --background: #4E98FF;
        height: 127px;
    }
  }
  @media only screen and (max-width: 320px) {
    ion-toolbar{
        --background: #4E98FF;
        height: 70px;
    }
  }

  @media only screen and (max-width: 375px) {
    .ios ion-toolbar{
        --background: #4E98FF;
        height: 95px;
    }
    .ios ion-title{
        position: absolute;
        top: -15px;
        left: -15px;
        color: white;
        font-size: 21px;
    }
  }
  @media only screen and (max-width: 320px) {
   

  }