<ion-menu side="start" content-id="main-content">

  <ion-header>
    <ion-toolbar translucent>
      <ion-title class="menuToolbar" >{{'routelist-menu.title' | translate}}</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list>
      <ion-item routerLink="/home/feed" >
        <ion-icon class="iconStyling" name="home" slot="start"></ion-icon>
        <ion-label class="menuTxt" >{{'routelist-myRoutes.title' | translate}}</ion-label>
      </ion-item>
      <ion-item (click)="navigateToWalletPage()">
        <ion-icon class="iconStyling" name="wallet" slot="start"></ion-icon>
        <ion-label class="menuTxt" >{{'routelist-myWallet.title' | translate}}</ion-label>
      </ion-item>
      <ion-item (click)="navigateToRouteHistoryPage()">
        <ion-icon class="iconStyling" name="file-tray-full" slot="start"></ion-icon>
        <ion-label class="menuTxt" >{{'routelist-routeHistory.title' | translate}}</ion-label>
      </ion-item>
      <ion-item (click)="navigateToTechHistoryPage()">
        <ion-icon class="iconStyling" name="archive" slot="start"></ion-icon>
        <ion-label class="menuTxt" >{{'routelist-techHistory.title' | translate}}</ion-label>
      </ion-item>
      <ion-item (click)="navigateToProfilePage()">
        <ion-icon class="iconStyling" name="person" slot="start"></ion-icon>
        <ion-label class="menuTxt" >{{'routelist-profile.title' | translate}}</ion-label>
      </ion-item>
      <ion-item (click)="navigateToSettingsPage()">
        <ion-icon class="iconStyling" name="settings" slot="start"></ion-icon>
        <ion-label class="menuTxt" >{{'routelist-settings.title' | translate}}</ion-label>
      </ion-item>
      <ion-item routerLink="/login">
        <ion-icon class="iconStyling" name="log-out"  slot="start"></ion-icon>
        <ion-label class="menuTxt" >{{'routelist-logout.title' | translate}}</ion-label>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons class="nav-buttons"slot="end">
         <ion-button style="width: 50px;/*!" (click)="navigateToNotificationsPage()" ><ion-icon class="notBtn" name="notifications" ></ion-icon><ion-badge></ion-badge></ion-button>
        <ion-menu-button class="menuBtn"></ion-menu-button>
      </ion-buttons>
      <ion-buttons (click)="navigateToProfilePage()" id="profile"></ion-buttons>
      <ion-title>{{'routelist-settings.title' | translate}}</ion-title>
    </ion-toolbar>
  </ion-header>


<ion-content>
  <div class="centerItems styleItems ion-padding">
    <ion-label class="labelIon">{{'settings-distance.title' | translate}}</ion-label>
    <ion-item class="itemIon" lines="none">
      <ion-select [(ngModel)]="selectedValueUnit"  interface="action-sheet">
        <ion-select-option  *ngFor="let item of dataUnit" [value]="item.id">
                    {{item.distanceUnit}}
        </ion-select-option>
      </ion-select>
    </ion-item >
    </div>
    <div class="centerItems styleItems ion-padding">
    <ion-label class="labelIon">{{'settings-currency.title' | translate}}</ion-label>
    <ion-item class="itemIon"  lines="none">
      <ion-select [(ngModel)]="selectedValueCurrency"  interface="action-sheet">
        <ion-select-option  *ngFor="let item of dataCoin" [value]="item.id">
                    {{item.currency}}
        </ion-select-option>
      </ion-select>
    </ion-item>
  </div>
  <div class="centerItems styleItems ion-padding">
    <ion-label class="labelIon">{{'settings-language.title' | translate}}</ion-label>
    <ion-item class="itemIon" lines="none">
      <ion-select [(ngModel)]="selectedValueLanguage"  (ionChange)="check()" interface="action-sheet">
        <ion-select-option *ngFor="let language of languages"  [value]="language">
                    {{language}}
        </ion-select-option>
      </ion-select>
    </ion-item>
  </div>
  
  <ion-buttons (click)="navigateToMaintenancePage()" >
   <button class="maintBtn">{{'settings-maintenance.title' | translate}}</button>
  </ion-buttons>

</ion-content>
<div class="myiontab">

  <ion-tab-bar slot="bottom" class="ion-no-border">
    <ion-tab-button tab="routelist" (click)="navigateToStartFeedPage()">
      <ion-icon class="iconStyling" name="home"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="wallet" class="comments" (click)="navigateToWalletPage()">
      <ion-icon class="iconStyling" name="wallet"></ion-icon>
    </ion-tab-button>

  

    <ion-tab-button tab="route-history" class="notifs" (click)="navigateToRouteHistoryPage()">
      <ion-icon class="iconStyling" name="file-tray-full"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="settings" (click)="navigateToSettingsPage()">
      <ion-icon class="iconStyling" name="settings"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>

</div>

